
.reveal {

  .slides {

    font-family: 'Open Sans';

    & {
      font-size: 18pt;
      text-align: justify;
    }

    img {
      border: 0;
    }

    h1 {
      font-size: 28pt;
      text-align: left;
    }

    h2 {
      font-size: 24pt;
      text-align: left;
    }

    h3 {
      font-size: 20;
      text-align: left;
    }

  }

}
